In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.cm as cm

In [2]:
data = pd.read_csv("../../Data/yfinance_data/META_historical_data.csv")

Getting basic information

In [3]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2012-12-12,28.000000,28.139999,27.370001,27.580000,27.523441,46704200,0.0,0.0
1,2012-12-13,27.590000,28.750000,27.430000,28.240000,28.182087,81051600,0.0,0.0
2,2012-12-14,28.180000,28.330000,26.760000,26.809999,26.755020,91631600,0.0,0.0
3,2012-12-17,26.770000,27.000000,26.320000,26.750000,26.695143,57742500,0.0,0.0
4,2012-12-18,26.959999,27.910000,26.900000,27.709999,27.653173,60512900,0.0,0.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2926 entries, 0 to 2925
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          2926 non-null   object
 1   Open          2926 non-null   float64
 2   High          2926 non-null   float64
 3   Low           2926 non-null   float64
 4   Close         2926 non-null   float64
 5   Adj Close     2926 non-null   float64
 6   Volume        2926 non-null   int64
 7   Dividends     2926 non-null   float64
 8   Stock Splits  2926 non-null   float64
dtypes: float64(7), int64(1), object(1)
memory usage: 205.9+ KB

In [5]:
data.shape

(2926, 9)

Summary statistics

In [6]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
count,2926.000000,2926.000000,2926.000000,2926.000000,2926.000000,2.926000e+03,2926.000000,2926.0
mean,179.557215,181.875331,177.317761,179.649453,179.305921,2.872083e+07,0.000342,0.0
std,108.864895,110.256219,107.511134,108.906971,108.755055,2.269811e+07,0.013070,0.0
min,22.990000,23.090000,22.670000,22.900000,22.853037,5.467500e+06,0.000000,0.0
25%,97.767502,98.772499,95.889997,97.382498,97.182795,1.571308e+07,0.000000,0.0
50%,166.870003,168.850006,164.210007,166.855003,166.512825,2.176100e+07,0.000000,0.0
75%,231.450005,234.934998,228.687504,232.424999,231.948360,3.294468e+07,0.000000,0.0
max,542.349976,542.809998,528.359985,539.909973,539.909973,3.654579e+08,0.500000,0.0

In [7]:
data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'Dividends', 'Stock Splits'],
      dtype='object')

Looking for missing values

In [8]:
data.isnull().sum()

Date            0
Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
Dividends       0
Stock Splits    0
dtype: int64

Checking for outliers

In [9]:
def outliers(c):
  z_scores = (data[c] - data[c].mean()) / data[c].std()
  outlier = data[np.abs(z_scores) > 3]
  print(c," outliers\n",outlier[c], "\n\n")

In [10]:
outliers("Open")
outliers("High")
outliers("Low")
outliers("Close")
outliers("Volume")

Open  outliers
 2827    514.190002
2836    514.710022
2837    507.000000
2845    516.419983
2846    516.859985
2847    529.280029
2848    522.229980
2849    509.290009
2850    521.109985
2851    517.750000
2852    516.719971
2859    508.059998
2893    513.989990
2902    506.649994
2903    514.250000
2904    517.150024
2907    506.369995
2908    511.600006
2909    542.349976
2910    533.750000
2911    530.789978
2912    530.890015
Name: Open, dtype: float64


High  outliers
 2826    519.849976
2827    523.570007
2836    515.039978
2845    530.000000
2846    530.700012
2847    531.489990
2848    525.869995
2849    522.559998
2850    523.859985
2851    520.190002
2852    518.530029
2893    514.010010
2902    513.809998
2903    522.880005
2904    521.880005
2908    540.869995
2909    542.809998
2910    537.479980
2911    538.880005
2912    535.460022
Name: High, dtype: float64


Low  outliers
 2826    501.380005
2836    506.010010
2837    504.339996
2838    500.239990
2845    510.579987
2846    514.409973
2847    518.890015
2848    506.739990
2849    505.799988
2850    517.289978
2851    509.329987
2893    504.470001
2894    501.359985
2895    500.750000
2902    504.679993
2903    513.900024
2904    503.839996
2907    506.019989
2908    511.600006
2909    526.650024
2910    528.190002
2911    528.359985
2912    508.369995
Name: Low, dtype: float64


Close  outliers
 2826    512.190002
2836    507.760010
2837    509.579987
2844    506.739990
2845    510.920013
2846    527.340027
2847    519.250000
2848    516.900024
2849    519.830017
2850    523.159973
2851    511.899994
2892    507.470001
2893    508.839996
2896    506.630005
2901    510.600006
2902    513.119995
2903    519.559998
2906    509.500000
2907    509.959991
2908    539.909973
2909    529.320007
2910    530.000000
2911    534.690002
2912    512.700012
Name: Close, dtype: float64


Volume  outliers
 18      104787700
21       98892800
22      173242600
33      190744900
96      104257000
154     365457900
155     136028900
156     124718800
157     173582800
158     154828700
159     106066500
184     117535700
194     115508400
196     136716100
198      98220100
200     100095000
201      98114000
206     136081000
207     147297000
208      99774000
221     102143000
222     127073000
223     248809000
228      97128000
258     239824000
259      98297000
284     150178900
298     130928900
322      97503900
323     112650000
329     125214400
330     108488000
332     100215000
333     114988000
336     108623000
342     138769000
344     107758000
405     124168000
473     106120000
786     107475300
1325    129851800
1326    106598800
1329    126116600
1414    169803700
2302    188119900
2360    100890600
2486    232316600
2488    121361400
2489    110189600
2495    107677300
2552    150475700
Name: Volume, dtype: int64